.section {
  height: 100vh;
  position: relative;
}
@media (max-width: 768px) {
  .section {
    height: auto;
  }
}
h1{
  color:rgb(87, 40, 20) !important;
  font-weight: 700 !important;
}

.Git{
  position: relative;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}