
.NavBar{
  position: fixed;
  background-color: #7be0ad;
  backdrop-filter: 50%;
  bottom: 5%;
  left: 50%;
  width: auto;
  height: 3rem;
  transform: translate(-50%, 5%);
  border-radius: 10px;
  z-index: 50;
  justify-content: center;
}
.Icon{
  color: rgba(0, 0, 0, 0.718);
  margin-left: 1.2vw;
  margin-right: 1.2vw;
}