.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

.hexagon {
  width: var(--size);
  height: calc(var(--size) * 0.866);
  background-color: #00b200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: spin 4s linear;
  transition: all 2s ease-in-out;
}

.hexagon.finished {
  transform: translate(-50%, -50%) rotate(720deg) scale(2);
}

.hexTop,
.hexBottom {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: inherit;
  clip-path: polygon(0 15%, 0 85%, 50% 100%, 100% 85%, 100% 15%, 50% 0%);
}

.hexTop {
  top: 0;
}

.hexBottom {
  bottom: 0;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(720deg);
  }
}
